@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
</head>
<body>
    <button id="recordButton">Start</button>

    @section Scripts {
        <script src="~/js/RecordRTC.min.js"></script>
        <script src="~/js/record.js"></script>
    }
</body>
</html>
